// Nguyên lý, layout này sẽ không scroll toàn bộ layout, mà nếu có thì sẽ scroll từng panel
.boilerplate-app-layout {
    .extension {
        flex: 1;
        padding: var(--spacing-sm) 0 var(--spacing-sm) var(--spacing-sm);
    }

    .primary {
        flex: 3;
        padding: var(--spacing-sm);
    }

    .secondary {
        flex: 1;
        padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) 0;
        // overflow: auto;
        // display: flex;
        // flex-direction: column;
    }
}